table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  vertical-align: middle;
  padding: 10px 16px;
  word-wrap: break-word;
  text-align: left; /* padrão geral */
}

/* Colunas */
.col-data { width: 95px; }
.col-nome { width: 190px; }

.col-nps { width: 95px; }
.col-morador { width: 130px; }

.col-sugestao { width: 380px; }

.col-nota { width: 80px; }

/* Ajuste fino das métricas */
td:nth-child(3),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9) {
  padding-left: 20px;
}

/* Badge com largura visual estável */
.badge {
  min-width: 32px;
  text-align: center;
}
