table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  word-wrap: break-word;
  vertical-align: top;
}

.col-data { width: 90px; }
.col-nome { width: 180px; }
.col-nps { 
  width: 90px; 
  text-align: center;
}

.col-morador { 
  width: 160px;
}

td.col-nps,
th.col-nps {
  padding-right: 20px;
}
.col-sugestao { width: 380px; }
.col-nota { width: 80px; text-align: center; }
